@import '../../scss/';
.video-detail-container {
    width: 100%;

    .banner {
        background-size: cover;
        padding-top: 28%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 400px;
            background-image: linear-gradient(0deg, #0f0f0f, transparent);
        }
        @include mobile {
            padding-top: 40%;
        }
    }
    .inner {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        margin-top: -24%;
        display: flex;
        padding: 120px 0;
        width: 80%;
        @include mobile {
            width: 100%;
            padding: 100px 12px 60px 12px;
            margin-top: -50%;
        }
    }
    .image {
        width: 30%;
        img {
            width: 100%;
            border-radius: 30px;
        }
        @include tablet {
            display: none;
        }
    }
    .title {
        margin-bottom: 20px;
        font-size: 4rem;
    }
    .genres {
        display: flex;
        flex-wrap: wrap;
        span {
            margin-bottom: 20px;
        }
    }

    .content {
        flex: 1;
        margin-left: 40px;
        h3 {
            font-size: 2rem;
            margin-bottom: 8px;
        }

        @include tablet {
            margin-left: 0;
            width: 100%;
        }
    }
    .overview {
        margin-bottom: 20px;
    }

    .iframe-list-container {
        width: 100%;
        padding: 0 32px;
        @include mobile {
            padding: 0 12px;
        }
    }

    .label {
        border: 2px solid white;
        border-radius: 99px;
        padding: 8px 20px;
        font-size: 1.2rem;
        background-color: $body-bg;
    }
    .label + .label {
        margin-left: 16px;
    }
}
