@use '../../scss/' as *;

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: height 0.3 ease, background-color 0.3 ease;
    &.shink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }
}
.header-bg {
    background-color: $body-bg;
}

.wrap {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 4rem;
    @include mobile {
        justify-content: center;
        align-items: center;
    }

    .logo-home {
        font-size: 4rem;
        display: flex;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        @include mobile {
            width: 30px;
            // margin-right: 0;
        }
        img {
            width: 100%;
        }
    }
    .nav {
        display: flex;
        font-size: 2rem;
        .item {
            position: relative;
            margin: 0 20px;
            @include mobile {
                margin: 0 10px;
            }

            &::after {
                content: '';
                bottom: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background-color: $main-color;
                width: 0;
                transition: width 0.5s ease;
            }
            &.active::after,
            &:hover::after {
                width: 100%;
            }
            a {
                padding: 8px 0;
            }
        }

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $body-bg;
            padding: 0 10px;
            align-items: center;
        }
    }

    .icon {
        margin-right: 8px;
        display: flex;
        align-items: center;
        font-size: 3rem;
        display: none;
        @include mobile {
            display: flex;
        }
    }

    .link {
        display: flex;
        align-items: center;
    }
}
