@import '../../scss/';

.hero-slide-container {
    position: relative;
    margin-bottom: 30px;
    &::after {
        z-index: 1;
        content: '';
        position: absolute;
        bottom: 0;
        height: 100px;
        left: 0;
        right: 0;
        background-image: linear-gradient(0deg, #0f0f0f, transparent);
    }
}
